.menu{
	position: fixed;

}

.corps{
	margin-left:250px;
	margin-right:250px;
}
html
{
	text-align: justify;
	background-color:#e0f0f0;
}
nav
{
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	padding-left:10px;
	padding-right:10px;
}
section
{
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	padding-left:10px;
	padding-right:10px;
}
article
{
	border:dotted;
	border-radius: 10px;
	border-width: 1px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
}
h1
{
	text-decoration: underline
}
td, th
{
	border-width:1px;
	border-style:solid;
	padding-left:10px;
	padding-right:10px;
}
table
{
	border-style:double;
	border-width: 1px;
	margin-top:5px;
	margin-bottom:5px;
	border-collapse: collapse;
}